.auth__message {
    display: none;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000;
    text-decoration: none;
    margin: 10px 0;
    padding: 10px 0;
    border-radius: 10px;
}

.auth__message_success {
    display: block;
    border: 1px #098;
    background-color: #098;
}

.auth__message_error {
    display: block;
    border: 1px #f15864;
    background-color: #f15864;
}
