KAFKA_HOST=broker
KAFKA_PORT=29092
KAFKA_BATCH=1000

CLICKHOUSE_HOST=clickhouse-node1
CLICKHOUSE_PORT=9000
CLICKHOUSE_USER=admin
CLICKHOUSE_PASSWORD=123

TEST_BATCH_SIZE=100000

AUTHJWT_SECRET_KEY=06fa5191cc8246f99dbe93f662de085d
TEST_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJmcmVzaCI6ZmFsc2UsImlhdCI6MTY4NzAxODgyOCwianRpIjoiNmFhN2NiZTgtMjhhOS00ZDkwLWEwOGEtYjQ4ZTAzZDdlYWI3IiwidHlwZSI6ImFjY2VzcyIsInN1YiI6eyJpZCI6IjA5OTFhMTJhLWIxYjAtNDliYy04Y2EyLTJmY2EzZTQwMDg1ZSIsImlzX2FjdGl2ZSI6dHJ1ZSwiZW1haWwiOiJzdXBlcnVzZXJAaW5ib3guY29tIiwicm9sZXMiOltdLCJ0b3Bfc2VjcmV0Ijp0cnVlfSwibmJmIjoxNjg3MDE4ODI4fQ.WXYdlS7eAZOWpqc33g6wui_rSWZ-VBn1HDzSJLO03KY

REDIS_DB=0
REDIS_HOST=redis
REDIS_PORT=6379

MONGO_URI=mongodb://localhost:27019
