[flake8]
max-line-length = 120
import-order-style = pep8
application_import_names =
    elastic,
    extractors,
    logger,main,
    models,
    psql_queries,
    psql,settings,
    state,
    transformers,
    utils,
    etl_manager
